/* styles for the socials section */
/* based on https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
.socials {
  padding: 2rem;
}

.socials > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-gap: 1rem;
  margin: 0;
  padding: 0;
}

.socials > ul > li {
  border-radius: .5rem;
  fill: #155799;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.socials > ul > li > img {
  height: 3.5rem;
}

.socials > ul > li > a {
  margin: 0;
  padding: 0;
}

.socials > ul > li {
  text-align: center;
}